<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}" xmlns:lambarius="http://ti.guaira.pr.gov.br">
  
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/layout/css/toastr/toastr.min.css}">
</head>

<body>
  <div layout:fragment="corpo">
  
    
      <div class="container-fluid">
       
          <div class="col-md-12">
            <div class="logofundo col mx-auto text-center">                  
                  <img src="/images/peixe.png"  class="brand-image">
            </div>
          
        </div>
      </div>
    
  </div>
  
</body>

</html>
