<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <div layout:fragment="corpo">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastrar nova Associação</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Associações</li>
              <li class="breadcrumb-item active">Cadastrar Associação</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-navy">
              <form role="form" class="form" method="POST" th:action="@{/associacoes/salvar}"
              th:object="${associacao}">
                <div class="card-body">
                  <label>Nome da associação *</label>
                  <div class="form-group">
                    <input type="text" id="nome" class="form-control" autofocus placeholder="Digite o nome"
                      required="required" th:field="*{nome}" autocomplete="off">
                  </div>
                </div>
                <input type="hidden" name="id" th:field="*{codigo}">
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>
