<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<link rel="stylesheet" th:href="@{/layout/css/toastr/toastr.min.css}">
</head>

<body>
	<div layout:fragment="corpo">
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 th:if="${codigo} == null">Cadastrar novo pescador</h1>
						<h1 th:if="${codigo} != null">Editar pescador</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/pescadores}">Pescadores</a></li>
							<li class="breadcrumb-item active" th:if="${codigo} == null">Cadastrar
								Pescador</li>
							<li class="breadcrumb-item active" th:if="${codigo} != null">Editar
								Pescador</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		<section class="content">
			<div class="container-fluid">
				<form role="form" class="form" th:object="${pescador}" method="POST"
					th:action="@{/pescadores/salvar}">
					<div class="col-md-12">
						<div class="card card-navy">
							<div class="card-header">
								<h3 class="card-title">Dados do pescador</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Associação *</label> <select
												class="form-control select2" th:field="*{associacao}"
												style="width: 100%;">
												<option selected value="">Selecione uma associação</option>
												<option th:each="associacao : ${associacoes}"
													th:value="${associacao.codigo}"
													th:text="${associacao.nome}"></option>
											</select>

										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Porto *</label> <select class="form-control select2"
												th:field="*{porto}" style="width: 100%;">
												<option selected value="">Selecione um porto</option>
												<option th:each="porto : ${portos}"
													th:value="${porto.codigo}" th:text="${porto.nome}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label>Nome *</label> <input type="text" th:field="*{nome}"
											class="form-control" placeholder="Digite o nome do pescador"
											required="required" autofocus autocomplete="off">
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label>CPF ou CNPJ *</label> <input type="text"
											name="cpf_cnpj" class="form-control js-documento"
											placeholder="Digite o CPF ou CNPJ" required="required"
											maxlength="18" th:field="*{cpfOuCnpj}" autocomplete="off">
									</div>
									<div class="col-md-6">
										<label>RG ou IE *</label> <input type="text" name="rg_ie"
											class="form-control" placeholder="Digite o RG ou IE"
											required="required" maxlength="15" th:field="*{rgOuIe}"
											autocomplete="off">
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label>Data de nascimento *</label> <input type="date"
											class="form-control" th:field="*{dataNascimento}"
											autocomplete="off" />
									</div>
									<div class="col-md-6">
										<label>RGP *</label> <input type="text" name="rgp"
											class="form-control" placeholder="Digite o RGP"
											maxlength="15" required="required" th:field="*{rgp}"
											autocomplete="off">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card card-navy">
							<div class="card-header">
								<h3 class="card-title">Endereço</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-6">
										<label>Logradouro *</label> <input type="text"
											name="logradouro" id="lougradouro" class="form-control"
											placeholder="Digite o Logradouro" required
											th:field="*{endereco.logradouro}">
									</div>
									<div class="col-6">
										<label>Número </label> <input type="number" name="numero"
											id="numero" class="form-control"
											placeholder="Digite o Número" th:field="*{endereco.numero}"
											autocomplete="off">
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<label>Bairro *</label> <input type="text" name="bairro"
											id="bairro" class="form-control"
											placeholder="Digite o Bairro" th:field="*{endereco.bairro}">
									</div>
									<div class="col-6">
										<label>Complemento</label> <input type="text"
											name="complemento" id="complemento" class="form-control"
											placeholder="Digite um complemento para o endereço"
											th:field="*{endereco.complemento}">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card card-navy">
							<div class="card-header">
								<h3 class="card-title">Contato</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<label>Telefone *</label> <input type="text" name="telefone"
											class="form-control js-phone"
											placeholder="Digite o telefone do pescador" maxlength="15"
											th:field="*{contato.telefone}" autocomplete="off" required>
									</div>
									<div class="col-md-6">
										<label>Celular </label> <input type="text" name="celular"
											class="form-control js-cell-phone"
											placeholder="Digite o número de celular do pescador"
											maxlength="15" th:field="*{contato.celular}"
											autocomplete="off">
									</div>
								</div>
								<div class="form-group">
									<label>E-mail</label> <input type="email" name="email"
										class="form-control" placeholder="Digite um e-mail"
										th:field="*{contato.email}">
								</div>
							</div>
							<input type="hidden" name="id" th:field="*{codigo}">
							<div class="card-footer">
								<button type="submit" class="btn btn-primary">Salvar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</body>

<div layout:fragment="scripts">
	<script th:src=@{/layout/js/jquery/jquery.inputmask.min.js}></script>
	<script th:src=@{/js/jquery/jquery.mask.min.js}></script>
	<script th:src=@{/js/scripts/EnableMasks.js}></script>
	<script th:src="@{/layout/js/toastr/toastr.min.js}"></script>
	<script th:if="${success}" th:inline="javascript">
    const message = /*[[${success}]]*/
    toastr.success(`${message}`)
  </script>
	<script th:if="${error}" th:inline="javascript">
    const message = /*[[${error}]]*/
    toastr.error(`${message}`)
  </script>
</div>

</html>
